/*********************
GENERAL
**********************/
html body {
	font-family: 'Open Sans' sans-serif;
	margin: 0;
	padding: 0;
}

#wrapper {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}

/*************************
HEADING
**************************/
header {
	float: center;
	margin: 0 0 30px 0; /* might want to consider %, not px for responsive design */
	padding: 0; 
	width: 100%;
	position: fixed;
	z-index: 1;   /* for the hamburger button*/
}

/******************************
HAMBURGER BUTTON STYLING
******************************/
#hamburger {
    border: 1px solid #374C77;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 3px 4px 3px;
    position: relative;
    width: 25px;
    background: #4569b2;
    background: -moz-linear-gradient(top,  #4569b2 0%, #4062a5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4569b2), color-stop(100%,#4062a5));
    background: -webkit-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: -o-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: -ms-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: linear-gradient(to bottom,  #4569b2 0%,#4062a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4569b2', endColorstr='#4062a5',GradientType=0 );
}
 
/*
The white stripes in the hamburger button
*/
#hamburger div {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}

/****************************************
END OF HAMBURGER BUTTON STYLING
****************************************/

#banner {
	text-align: center;
	margin: 0;
	padding: 0 0 0;
	font-family: 'Open Sans', sans-serif;
	margin: 15 0;
    font-size: 1.55em;
	font-weight: bold;
}

#logo {
	text-align: center;
	margin: 0;
	padding-top: 100px;
}

#content {
	margin-top: 100px;
}


h1 {
  font-family: 'Open Sans', sans-serif;
  margin: 15 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
  padding-top: 0;
}

h2 {
  font-size: 0.75em;
  margin: 0 0;
  font-weight: normal;
  padding-bottom: 15px;
}

/************************
FOOTER
*************************/
footer {
  position: fixed;
  width: 100%;
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
  padding-top: 10%;
  color: #333;
}

/************************
NAVIGATION
************************/

nav {
	text-align: center;
	padding: 10px 0;
	color: #ccc;
	color: #000;
}

nav {
	position: fixed;
	width: 100%;
	font-size: 0.75em;
	text-align: center;
	clear: both;
    padding: 0 10px 0 10px;
    background-color: #ccc;
}

/***************************
HAMBURGER BUTTON STYLING
****************************/
 nav {
 	left: 0px;
    bottom: 0px;   /***********example had this on top*********/
    position: fixed;
    z-index: 0;
    width: 70%;
}

nav > ul {
  list-style: none;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  margin: 15 0;
  font-size: 1.50em;
  font-weight: normal;
  line-height: 0.8em;
  padding-top: 0;
}

h2 {
  font-size: 0.75em;
  margin: 0 0;
  font-weight: normal;
  padding-bottom: 15px;
}

/************************
COLORS
************************/
/*  site body  */


body {
	background-color: #fff;
	color: #999;
	overflow-x: hidden; /*this is for the hamburger button*/
}

/*  green header  */
header {
	background: #6ab47b;
	border-color: #599a68;
}

/*  banner text  */
h1, h2 {
	color: #999;
}

body {
	background-color: #fff;
	color: #999;
}
nav {
	color: #999;
}

